.navbar-expand-lg {
    padding-left: 1rem;
}

body{
    font-family:  "Montserrat", sans-serif;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h2{
    font-family:  "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    width: 70%;
    margin: 0 auto;
}

section#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15%;
}

.fa-apple{
    padding-right: .5rem;
    font-size: 1.5rem;
}

.fa-google-play{
    padding-right: .5rem;
}

/* ##### navigation bar #### */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: 500;
}

.nav-item{
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 500;
}

/* ##### download buttons ##### */
.download-button{
    margin: 1.4rem 1rem 0 0;
}

/* ##### image #### */
.title-image{
    width: 60%;
    transform: rotate(25deg);
}

/* ##### features ##### */
#features {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.fa-check-circle,
.fa-bullseye,
.fa-heart{
    font-size: 3rem;
    color: #ef8172;
    margin: .5rem 0;
}

.fa-check-circle:hover,
.fa-bullseye:hover,
.fa-heart:hover{
    font-size: 3rem;
    color: #ff4c68;
    margin: .5rem 0;
}

#features > div > div > div > h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

#features > div > div > div > p {
    color: #8f8f8f;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    width: 70%;
}

/* ##### testimonials ##### */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
    
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;

}


/* ##### press ##### */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px 50px;
}